*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}
.container-box{
	background: url(finales/textura1.jpg);

}
.product-title{
	text-align: center;
	padding-top: 1rem;
	padding-bottom: 1rem;
	font-size: 2.8em;
	color: #3b3221;
	font-family: 'Rye', cursive;
}

/************	NAVIGATION	************/
nav{
	position: sticky;
	display: flex;
	justify-content: space-between;
	text-align: center;
	align-items: center;
	width: 100%;
	padding: 1rem;
	top: 0;
	z-index: 100;
	font-family: 'Rye', cursive;
}
.navigation{
	display: flex;
}
.nav ul{
	list-style: none;
}
.nav li{
	padding-right: 1rem;
}
.nav ul li a{
	position: relative;
	text-decoration: none;
	display: inline-block;
	font-family: 'Bebas Neue', cursive;
	font-size: 1.5em;
	color: #000;
	padding: 0 20px;
	background:rgba(245, 226, 119, 0.5) ;
	border:  1px solid rgba(0, 0, 0, 0.4);	
	border-bottom:  1px solid rgba(148, 117, 59, 0.2);	
	border-right:  1px solid rgba(148, 117, 59, 0.2);
	box-shadow: 2px 3px 0 rgba(0, 0, 0, 1);
	backdrop-filter: blur(2px);
	transition: 0.5s;
	overflow: hidden;	
}


ul li a::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 60px;
	background: rgba(255, 255, 255, 0.5);
	transform: skewX(45deg) translateX(230px);
	transition: 0.5s;
}
ul li a:hover::before{
	transform: skewX(45deg) translateX(-150px);
}
.nav img{
	width: 180px;
}
.nav button{
	display: none;
}

/************	TOGGLE MENU	************/
@media screen and (max-width: 992px) {
	.nav button{
	
	display: flex;
	justify-content: center;
	align-items: center;
	filter: invert(1);
	background: rgba(255, 255, 255, .8);
}	
  .navigation{
  position:fixed;
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	background-color: rgba(0, 0, 0, .9);
	z-index: 998;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	/*translate acepta X e Y*/
	transform: translate(0,-150%);
	transition: transform 0.3s ease;
  }
  .navigation.is-active{
  	transform: translate(0,0);
  }
  
  .navigation li{
  	width: 100%;
  	padding-top: 5rem;
  	display: flex;
  	flex-direction: column;
  	text-align: center;
		align-items: center;
  }
  .nav .navigation li a{
  	color: #fff;
  }
  
  .panel-btn{
	position: fixed;
	z-index: 999;
	top: 1vh;
	right: 1vw;
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	}

}

/************	HEADER	************/
.banner{
	top: -100px;
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	z-index: 99;
}
.container{
	position: absolute;
	top: 0;
	left: -10%;
	width: 120%;
	height: 100vh;
	background: radial-gradient(#e1f1e5,#acdabb);
}
.container #scene .layer{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
}
.container #scene .layer img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

@keyframes brillo {
  0%    { opacity: 0; }
  20%   { opacity: 1; }
  40%   { opacity: 0; }
  60%   { opacity: 0; }
  80%   { opacity: 1; }
  100%  { opacity: 0; }
}

.brillo{
	animation: brillo 5s infinite;
}

/************	WHAT IS CC	************/
.whatis{   
 		position: relative;
 		display: flex;
 		flex-direction: column;
 		flex-flow: row wrap;
 		align-items: center;
 		justify-content: center;
 		grid-gap: 30px 50px;
 		gap: 30px 50px;
 		width: 100%;
 		top: -80px;
}
.whatis .what{
	width: 800px;
	display: flex;
 		flex-direction: column;
 		align-items: center;
 		justify-content: center;
 		margin: 10px 20px;
}
.box-img-p{
	display: flex;
	margin: 10px 20px;
}
.box-img-p img{
	margin: 30px 0;
	height: 250px;
}
.whatis .what h1{
	position: relative;
	font-family: 'Rye', cursive;
	color: #3b3221;
	font-size: calc(2em + 1vw);
	text-align: center;
	margin: 10px 20px;
}
.whatis .what p{
	margin: 30px 0;
	font-family: 'Roboto Slab', serif;
	font-weight: 600;
	color: #94753b;
	font-size: 3.3vh;
	line-height: 1em;
padding: 1em;
margin: 1em;
	text-align: start;
}
.whatis .what .btn-play{
	font-size: 1.5em;
	font-family: 'Bebas Neue', cursive;
	color: #fff;
	letter-spacing: 2px;
	padding: 0 20px;
	background:#91712d ;
	border:  1px solid rgba(0, 0, 0, 0.4);	
	border-radius: 20px;
	border-bottom:  1px solid rgba(148, 117, 59, 0.2);	
	border-right:  1px solid rgba(148, 117, 59, 0.2);
	box-shadow: 2px 3px 0 rgba(0, 0, 0, 1);
	backdrop-filter: blur(2px);
	cursor: pointer;
	transition: 0.5s;
	overflow: hidden;	
}
.whatis .what .btn-play::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 60px;
	background: rgba(255, 255, 255, 0.5);
	transform: skewX(45deg) translateX(230px);
	transition: 0.5s;
}
.whatis .what .btn-play:hover::before{
	transform: skewX(45deg) translateX(-150px);
}
@media screen and (max-width: 992px) {
	.box-img-p img{
		display: none;
	}
	.whatis .what p{
	
	font-size: 3.3vh;
	line-height: 1em;
padding: 1em;
margin: 1em;
	text-align: start;
}
}

/************	HOW DO I GET REWARDS	************/
.rewards{   
 		position: relative;
 		display: flex;
 		flex-flow: row wrap;
 		align-items: center;
 		justify-content: center;
 		grid-gap: 30px 50px;
 		gap: 30px 50px;
 		padding: 40px 40px 100px;
 		width: 100%;
 		background: url(finales/textura4.jpg);
}
.rewards .reward{
	width: 50%;
}

.rewards .reward h1{
	font-family: 'Rye', cursive;
	color: #fbdd65;
	font-size: calc(2em + 1vw);
	text-align: start;
}
.rewards .reward p{
	margin: 30px 0;
	font-family: 'Roboto Slab', serif;
	font-weight: 600;
	color: #fbdd65;
	line-height: 1.45;
	font-size: 1.1em;
	text-align: start;
}


@media screen and (max-width: 992px) {
	.rewards{
		display: flex;
	flex-direction: column-reverse;
	text-align: center;
	align-items: center;
	}
}


/************	PRODUCTS	************/

.products{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	flex-wrap: wrap;
	width: 100%;
	padding: 40px 40px 40px;
	transform-style: preserve-3d;
background: url(finales/textura3.jpg);
}
.products .product-title{
	font-size: calc(2em + 1vw);
}

.products .box{
	position: relative;
	width: 300px;
	height: 400px;
	margin: 10px;
	border-radius: 20px;
	box-shadow: 2px 3px 5px rgba(0, 0, 0, 1);
	transform-style: preserve-3d;
		transition: 0.5s;
	overflow: hidden;	

}
.products .personajes .box{
	background: #D4AF37;
}
.products .pistolas .box{
	background: #C0C0C0;
}
.products .cactus .box{
	position: relative;
	width: 300px;
	height: 300px;
	margin: 10px;
	background: #CD7F32;
	border-radius: 20px;
	transform-style: preserve-3d;
}

.products .box .name{
	position: absolute;
	top: 0;
	left: 0;
	font-family: 'Bree Serif', serif;
	text-align: center;
	color: #fbdd65;
	text-shadow: 2px 3px 0 rgba(0, 0, 0, 0.5);
	width: 100%;
	transform-style: preserve-3d;
	transform: translate3d(0, 0, 75px);
	transition: 0.5s;
	opacity: 0;
	z-index: 10;
}
.products .box:hover{
transform: translateY(10px);
}

.products .box::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 120%;
	background: rgba(255, 255, 255, 0.5);
	transform: skewX(45deg) translateX(250px);
	transition: 0.5s;
}
.products .box:hover::before{
	transform: skewX(45deg) translateX(-150px);
}
.products .box:hover .name{
	top: 40px;
	opacity: 1;
}
.products .personajes{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.products .pistolas{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding: 2rem;
}

@media screen and (max-width: 992px){
	.products .cactus{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
}

.products .box .buy{
	position: absolute;
	bottom: 0;
	left: 50%;
	font-family: 'Bree Serif', serif;
	font-size: .8em;
	transform-style: preserve-3d;
	transform: translate3d(-50%, 0, 75px);
	color: #000;
	background: #fbdd65;
	padding: 10px 25px;
	border-radius: 30px;
	box-shadow: 2px 3px 0 rgba(0, 0, 0, 0.5);
	text-decoration: none;
	transition: 0.5s;
	opacity: 0;
	z-index: 10;
}

.products .box:hover .buy{
	bottom: 30px;
	opacity: 1;
}

.products .box .circle{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	transition: 0.5s;
	background: rgba(86, 84, 179, 1.0);
	transform-style: preserve-3d;
	z-index: 8;
	opacity: 1;
	transform: translate3d(-50%,-50%,0px);
}
.products .box:nth-child(2) .circle{
	background: rgba(91, 165, 212, 1.0);
}
.pistolas .box:nth-child(1) .circle{
	background: rgba(186, 79, 47, 1.0);
}
.pistolas .box:nth-child(2) .circle{
	background: rgba(51, 92, 189, 1.0);
}
.pistolas .box:nth-child(3) .circle{
	background: rgba(51, 129, 189, 1.0);
}

.products .box .product{
	position: absolute;
	top: 50%;
	left: 50%;
	max-width: 230px;
	transition: 0.5s;
	z-index: 9;
	transition: 0.5s;
	transform-style: preserve-3d;
	transform: translate3d(-50%, -50%, 10px) rotate(0deg);
}
.products .box:hover .product{
	transform: translate3d(-50%, -50%, 100px) rotate(1deg);
}



/************	FEATURES	************/
.features{
	position: relative;
	display: flex;
	padding: 40px 40px 40px;
	flex-direction: column;
	text-align: center;
	align-items: center;
		background: url(finales/textura2.jpg);
}
.features h1{
	font-family: 'Rye', cursive;
	color: #fbdd65;
	font-size: calc(2em + 1vw);
	text-align: center;
}
.features .accordion{
	max-width: 800px;
}
.accordion .contentBx{
	position: relative;
	margin: 10px 20px;
}
.accordion .contentBx .label{
	position: relative;
	border-radius: 20px 20px 0 0;
	padding: 10px;
	background: #7b5f24;
	font-family: 'Rye', cursive;
	color: #f2d560;
	text-align: left;
	cursor: pointer;
}
.accordion .contentBx .label::before{
	content: "+";
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
	font-size: 1.5em;
	color: #fff;
}
.accordion .contentBx.active .label::before{
	content: "-";
	color: #fff;
}
.accordion .contentBx .content{
	position: relative;
	background: #91712d;
	height: 0;
	border-radius: 0  0 20px 20px;
	overflow: hidden;
	transition: 0.5s;
	overflow-y: auto;
}
.accordion .contentBx .content p{
	font-family: 'Roboto Slab', serif;
	font-weight: 600;
	color: #f2d560;
	line-height: 1.45;
	font-size: 1em;
	text-align: start;
}
.accordion .contentBx.active .content{
	height: 150px;
	padding: 10px;
}

/************	FOOTER	************/
.footer-container{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 50px 100px 100px 100px;
}

.footer-container .socialMedia {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.footer-container .socialMedia li{
	padding: 20px;
	list-style: none;
}
.footer-container .socialMedia li a{
	font-size: 3em;
	color:#3b3221;
}

.footer-container p{
	margin: 0 20px;
	font-family: 'Roboto Slab', serif;
	font-weight: 600;
	line-height: 1.45;
	color: #94753b;
	font-size: 1.1em;
	text-align: center;
}